* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(233, 201, 23);
    padding: 2rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .container {
    height: 600px;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .intro-text {
    color: antiquewhite;
    text-align: center;
    width: 70%;
    margin-bottom: 2rem;
  }

  .intro-text h1 {
    font-size: 3rem;
    margin-top: 0;
  }

  .intro-text p {
    font-size: 1.1rem;
  }

  .dice-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 2rem;
  }
  
  .dice {
    height: 60px;
    width: 60px;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 2px 0px rgba(61, 0, 61, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dice.hold {
    background-color: rgb(36, 167, 36);
  }
  
  .dice span {
    font-size: 2rem;
  }
  
  .roll-button {
    margin-top: 4rem;
    font-size: 1.5rem;
    background-color: rgb(40, 201, 223);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }

  .roll-button:hover {
    background-color: rgb(35, 180, 199);
    cursor: pointer;
  }
  