h1 {
    font-size: 7rem;
    color: red;
}

.option {
    margin: 0.5rem;
}

.option.selected {
    background-color: lightgreen;
}


.marked .option.selected.correct {
    background-color: limegreen;
}

.marked .option.selected {
    background-color: red;
}

.marked .option.correct {
    background-color: green;
}